<%- include('../partials/header') %> 

<main>
    <h1>create a user</h1>
    <a id="nav-button-user" href="/accounts/new"><i class="fas fa-users fa-lg"></i></a>
    <h1>Users:</h1>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Age:</th>
                <th>Employed:</th>
            </tr>
        </thead>
        <tbody>
            <% accounts.forEach(function(accounts) { %>
            <tr>
                <td><%= accounts.accountName %></td>
                <td><%= accounts.age %></td>
                <td><%= accounts.employed %></td>
                <td><a href="/accounts/<%= accounts._id %>">Details</a></td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %> 