<%- include('../partials/header') %> 

<main>
    <% if(budgets.length) { %> 
        <table class="budget-table">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Budget:</th>
                </tr>
            </thead>
            <tbody>
                <% budgets.forEach(function(budgets) { %>
                <tr>
                    <td><%= budgets.createdBy.name %></td>
                    <td><%= budgets.title %></td>
                    <td><a href="/budgets/<%= budgets._id %>">Details</a></td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    <% } else { %> 
        <h4>There are currently no budgets</h4>
        <h6>Please create a budget</h6>
    <% }; %> 
</main>

<%- include('../partials/footer') %> 