<%- include('../partials/header') %> 

<main>
    <table class="budget-table">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Budget:</th>
                <th>Discretionary:</th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(function(budgets) { %>
            <tr>
                <td><%= budgets.createdBy.name %></td>
                <td><%= budgets.title %></td>
                <td>
                    <% let discretionary = (budgets.incomeAmount - budgets.expense.amount) %> 
                    <%= discretionary %> 
                </td>
                <td><a href="/budgets/<%= budgets._id %>">Details</a></td>
                <td>
                    <form action="/budgets/<%= budgets._id %>?_method=DELETE" method="POST">
                        <button id="nav-button-delete" type="submit"><i id="content-nav" class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %> 