<%- include('../partials/header') %> 

<main>
    <h1>Start a budget</h1>
    <a id="nav-button-user" href="/budgets/new"><i class="fas fa-users fa-lg"></i></a>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Budget:</th>
            </tr>
        </thead>
        <tbody>
            <% budgets.forEach(function(budgets) { %>
            <tr>
                <td><%= budgets.createdBy.name %></td>
                <td><%= budgets.title %></td>
                <td><a href="/budgets/<%= budgets._id %>">Details</a></td>
                <td>
                    
                </td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %> 