<%- include('../partials/header') %>

<main>
    <div>
        <h3><%= budget.createdBy.name %> | Budget: <%= budget.title %></h3>
        <h5>Income: <%= budget.incomeAmount %></h5>
    </div>
    <div>
        <% if(budget.expense.length) { %>
        <h6>Expenses:</h6>
        <table class="budget-table">
            <thead>
                <tr>
                    <th>Type:</th>
                    <th>Amount:</th>
                    <th>Due:</th>
                </tr>
            </thead>
            <tbody>
                <% budget.expense.forEach(function(expense) { %>
                    <tr>
                        <td><%= expense.title %> </td>
                        <td><%= expense.amount %> </td>
                        <td><%= expense.dueDate.toLocaleDateString() %> </td>
                        <td><button id="nav-button-edit"><a id="nav-button-edit" href="/budgets/expense/<%= expense._id %>/edit"><i id="content-nav" class="far fa-edit"></i></a></button></td>
                            
                        <td>
                            <form action="/budgets/expense/<%= expense._id %>?_method=DELETE" method="POST">
                                <button id="nav-button-delete" type="submit"><i id="content-nav" class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <h6>There are currently no expenses for this budget</h6>
        <% }; %>
    </div>
    <div id="form-container">
        <form id="financial-form" action="/budgets/<%= budget._id %>/expense" method="POST">
            <h5 class="schema-labels">Add an expense</h5>
            <div id="form-row">
                <label id="form-label">Type:</label>
                <input type="text" name="title" class="finanical-input">
            </div>
            <div id="form-row">
                <label id="form-label">Amount:</label>
                <input type="text" name="amount" class="finanical-input">
            </div>
            <div id="form-row">
                <label id="form-label">Due:</label>
                <input type="date" name="dueDate" class="finanical-input">
            </div>
            <input id="form-button" type="submit" value="Add Expense">
        </form>
    </div>
</main>

<%- include('../partials/footer') %> 