<%- include('../partials/header') %> 

<main>
    <div>
        <h3><%= budget.createdBy.displayName %> | Budget: <%= budget.title %></h3>
        <h5>Income: <%= budget.incomeAmount %></h5>
    </div>
    <div>
        <% if(budget.expense.length) { %>
        <h6>Expenses:</h6>
        <table>
            <thead>
                <tr>
                    <th>Expense Type:</th>
                    <th>Amount:</th>
                    <th>Due:</th>
                </tr>
            </thead>
            <tbody>
                <% budget.expense.forEach(function(expense) { %>
                    <tr>
                        <td><%= expense.title %> </td>
                        <td><%= expense.amount %> </td>
                        <td><%= expense.dueDate %> </td>
                    </tr>
                <% }); %> 
            </tbody>
        </table>
        <% } else { %> 
        <h6>There are currently no expenses for this budget</h6>
        <% }; %> 
    </div>
    <form id="financial-form" action="/budgets/<%= budget._id %>/expense" method="POST">
        <h3 class="schema-labels">Add an expense</h3>
        <label id="form-label">Type:</label>
        <input type="text" name="electric" class="finanical-input">
        <label id="form-label">Amount:</label>
        <input type="text" name="gas" class="finanical-input">
        <input type="submit" value="Add Expense">
    </form>
</main>

<%- include('../partials/footer') %> 